/****************TRADITIONAL LOGIN AND REGISTER*********/

/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Lato', sans-serif;
}

.main {
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400; 
}

.title > a {
	color: #384452;
	transition: background-color 120ms ease-in, color 120ms ease-in;
}

.title > a:hover {
	text-decoration: none;
  	color:#01b2fe;
}

hr {
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}

.btn {
	border-radius: 0;
}

.form-control {
  border-radius: 0px;
}

.input-group-addon {
	border-radius: 0;
}