/**
 * Original author: Carlos Alvarez
 * URL: http://alvarez.is
 * Template name: SOLID - Bootstrap 3 Theme
 * Customized for TAIP
 */
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Titillium+Web:400,700,900&subset=latin-ext');
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: #ffffff;
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.site-content {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    transition: background-color 120ms ease-in, color 120ms ease-in;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #01b2fe;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #00b3fe;
    /*background-color: transparent;*/
    background-color: #232a33;
}

.navbar-default {
    background-color: #384452;
}

@media (min-width: 768px) {
    .navbar ul.nav > li > a {
        box-shadow: none;
        transition: box-shadow 120ms ease-in, background-color 120ms ease-in, color 120ms ease-in;
    }

    .navbar ul.nav > li > a:hover,
    .navbar ul.nav > li > a:focus {
        box-shadow: inset 0 2px 0 0 #00b3fe;
    }

    .navbar ul.nav > li.active > a,
    .navbar ul.nav > li.open > a {
        text-decoration: none !important;
        box-shadow: inset 0 2px 0 0 #00b3fe;
    }
}

.navbar-toggle {
    float: left;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 0;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-fixed-bottom {
    border-width: 0;
}

.dropdown-menu {
    background: #384452;
    border-radius: 0;
}

.dropdown-menu > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.btn {
    border-radius: 0;
    transition: all 120ms ease-in, color 120ms ease-in;
}

.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
    color: #fff;
    background-color: #00b3fe;
    border-color: #00b3fe;
}

.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus {
    color: #ffffff;
    background-color: #222222;
    border-color: #ffffff;
}

.dmbutton {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 2px;
    padding-top: 1.025rem;
    padding-right: 2.25rem;
    letter-spacing: 0.85px;
    padding-bottom: 1.0875rem;
    padding-left: 2.25rem;
    font-size: 1.55rem;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: background-color 120ms ease-in;
    -webkit-appearance: none;
    font-weight: normal !important;
}

.mtb {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 60px;
}

.hline {
    border-bottom: 2px solid #384452;
}

.hline-g {
    border-bottom: 2px solid #bfc9d3;
    margin-bottom: 14px;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0;
}

.form-control {
    border-radius: 0;
    box-shadow: none !important;
}

.input-group-addon {
    border-radius: 0;
}

.row-centered {
    display: flex;
    justify-content: space-between;
}

.alert {
    border-radius: 0;
    border: 0;
    color: white;
}

.alert-success {
    background-color: #2ecc71;
    border-color: #29b74e;
}
.alert-success hr {
    border-top-color: #25a245;
}

.alert-info {
    background-color: #3498db;
    border-color: #23a1c8;
}
.alert-info hr {
    border-top-color: #2090b2;
}

.alert-warning {
    background-color: #f1c40f;
    border-color: #da8f0d;
}
.alert-warning hr {
    border-top-color: #c27f0b;
}

.alert-danger {
    background-color: #e74c3c;
    border-color: #e42533;
}
.alert-danger hr {
    border-top-color: #d61a28;
}


/*	################################################################
	SITE WRAPS
################################################################# */

#headerwrap {
    background-color: #00b3fe;
    min-height: 550px;
    padding-top: 100px;
    padding-bottom: 0;
    text-align: center;
}

#headerwrap h3 /*, h5*/
{
    color: white;
    font-weight: 400;
}

#headerwrap h1 {
    color: white;
    margin-bottom: 25px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}

/* Services Wrap */
#service {
    margin-top: 100px;
    margin-bottom: 80px;
}

#service i {
    color: #00b3fe;
    font-size: 60px;
    padding: 15px;
}

/*SKOPIOWANE Z SAILOR*/
.post-date {
    color: #999999;
    font-size: 12px;
}

.bottom-article {
    overflow: hidden;
    padding: 10px 0 10px 0;
    margin-top: 20px;
}

ul.meta-post {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.meta-post li {
    display: inline-block;
    margin: 0 10px 0 10px;
    padding: 0;
    list-style: none;
    padding-right: 10px;
}

ul.meta-post li i {
    float: left;
    font-size: 12px;
    margin: 6px 5px 0 0;
}

ul.meta-post li a, ul.meta-post li span {
    font-size: 12px;
    font-weight: 600;
}

/*END SKOPIOWANE Z SAILOR*/

/* Portfolio Wrap */
#portfoliowrap {
    padding-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center
}

#portfoliowrap h3 {
    margin-bottom: 25px;
}

.portfolio {
    padding: 0 !important;
    margin: 0 !important;
    display: block;
}

.portfolio-item .title:before {
    border-radius: 0;
    display: none;
}

.portfolio-item p {
    margin: 0 0 30px;
}

.portfolio-item h3 {
    margin: -10px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.tpl6 h3 {
    color: #fff;
    margin: 0;
    padding: 40px 5px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.tpl6 .dmbutton {
    display: inline-block;
    margin: 30px 5px 20px 5px;
    font-size: 13px;
}

.tpl6 .bg {
    height: 100%;
    width: 100%;
    background-color: #00b3fe;
    background-color: rgba(0, 179, 254, .9);
    text-align: center;
}

/* Testimonials Wrap */
#twrap {
    background: url(../img/t-back.jpg) no-repeat center top;
    margin-top: 0;
    padding-top: 60px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 450px;
    width: 100%;

    -webkit-background-size: cover;
    background-size: cover;
}

#twrap i {
    font-size: 50px;
    color: white;
    margin-bottom: 25px;
}

#twrap p {
    color: white;
    font-size: 15px;
    line-height: 30px;
}

/* clients logo */
#cwrap {
    background: #f7f7f7;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 100px;
}

#cwrap h3 {
    margin-bottom: 60px;
}

/* Footer */

#footerwrap {
    padding-top: 14px;
    padding-bottom: 14px;
    background: #384452;
}

#footerwrap p {
    color: #bfc9d3;
}

#footerwrap h4 {
    color: #bfc9d3;
    font-size: 16px;
}

#footerwrap a {
    color: #bfc9d3;
    line-height: 24px;
}

#footerwrap a:hover {
    color: #00b3fe;
}

#footerwrap .form-control, #footerwrap .btn {
    height: auto;
    margin: 0;
    padding: 3px 6px;
}

#footer-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

#footer-end p {
    color: #bfc9d3;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

#footer-end i {
    color: #bfc9d3;
    font-size: 18px;
}

#footer-end a > i:hover {
    color: #00b3fe;
}

#footer-end ul {
    list-style: none;
    margin: 14px 0 0 0;
    padding: 0;
}

#footer-end ul li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 600px) {
    #footer-end {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/*	################################################################
	PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
    background: #00b3fe;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* 20.02.2017 test niebieskiego badziewia */

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header > h1 {
    color: white;
    margin: 10px 15px;
    font-size: 24px;
}

.content-header > h1 > small {
    color: white;
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

.content-header > .breadcrumb {
    background: transparent;
    margin: 0 15px;
}

.content-header > .breadcrumb > .active {
    color: white;
}

.content-header > .breadcrumb > li > a {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.content-header > .breadcrumb > li > a:hover {
    color: #ccc;
}

.content-header > .breadcrumb > li > a > .fa {
    margin-right: 5px;
}

.content-header > .breadcrumb > li + li:before {
    content: '>\00a0';
    color: #384452;
}

@media (max-width: 991px) {
    .content-header {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content-header > .breadcrumb {
        margin: 8px 15px;
        padding: 0;
    }
}

/*KONIEC TESTU 20.02.2017*/

/*.breadcrumb {
	padding: 8px 0;
	border-radius: 0;
	background: transparent;
	margin-bottom: 10px;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #384452;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: white;
}

.breadcrumb > li > a {
	color: white;
}

.breadcrumb > li > a:hover {
	color: #ccc;
}*/

.img-smallie {
    max-height: 50px;
    max-width: 50px;
    margin: 6px 0;
}

#blue h3 {
    color: white;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#blue h3:hover {
    color: #ccc;
}

.ctitle {
    color: #00b3fe;
    font-weight: 700;
    margin-bottom: 15px;
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.badge-theme {
    background: #00b3fe;
}

/* Contact Page */
#contactwrap {
    background: url(../img/contact.jpg) no-repeat center top;
    margin-top: -60px;
    padding-top: 0;
    text-align: center;
    background-attachment: relative;
    background-position: center;
    min-height: 400px;
    width: 100%;

    -webkit-background-size: cover;
    background-size: cover;
}

/* Blog Page */
.popular-posts {
    margin: 0;
    padding-left: 0;
}

.popular-posts li {
    list-style: none;
    margin-bottom: 20px;
    min-height: 70px;
}

.popular-posts li a,
.popular-posts li a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.popular-posts li img {
    float: left;
    margin-right: 20px;
}

.popular-posts li em {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #b3b3b3;
}

.popular-posts p {
    line-height: normal;
    margin-bottom: auto;
}

.share i {
    padding-right: 15px;
    font-size: 18px;
}

/*	################################################################
	MODAL LOGIN
	Author: Rodrigo Amarante (rodrigockamarante)
    Version: 1.0
################################################################# */

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], #login-modal input[type=password], #login-modal input[type=email] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}
